<!DOCTYPE html>
<html lang="es">
<head>
    <title>Nombre Aplicación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename ='estilos.css')}}">
</head>

<!-- BARRA DE NAVEGACIÓN  -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">INDEX</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/informacion">Información</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/registro" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Registro
          </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<!-- ESTA PARTE VA CAMBIANDO  -->
{% block content %}
<body class="color-fondo">
    <a2> Hola a todos, soy un HTML cargado gracias a Flask</a2>

    <p>lorem ipsum dolor sit amet las ss dsa da asdasdas af as dasd asd as daggfgd s a 
        a asd asd ad agfdg dfgh a asd as ddg  asd asd asd asd as daggasd asd asd asd asd asd asd asd asd asd asd asdda sdas d
    </p>
   
{% endblock %}
  <p action="/numero_archivos">El número de documentoss es: {{numero_archivos_uploads}}</p>

  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" id="archivo_subido" name="archivo_subido" accept=".txt">
    <input type="submit">
  </form>


</body>

<p>Este texto no debería desaparecer</p>

</html>