<!DOCTYPE html>
<html lang="es">
<head>
    <title>Nombre Aplicación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename ='estilos.css')}}">
</head>
<body class="color-fondo">
    <a2> Hola a todos, son un HTML cargado gracias a Flask</a2>

    <p>lorem ipsum dolor sit amet las ss dsa da asdasdas af as dasd asd as daggfgd s a 
        a asd asd ad agfdg dfgh a asd as ddg  asd asd asd asd as daggasd asd asd asd asd asd asd asd asd asd asd asdda sdas d
        asda asd asd asd asd asd asd asd asd asgerfghfr gwemf nbem,f bqnbc am,lsbc g g
         fEFQGTRHTRH MFB M,LE  R
         G asd asdWF 
         QEF asd asdfa-flip-horizontalTH  FWE FRHERT Q GFG  reg ergj hqjkj jkqg cjkls gljkqe
          qlkjk gqkpjw hcpqioyu `q   </p>

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" id="archivo_subido" name="archivo_subido" accept=".txt">
        <input type="submit">
    </form>
</body>
</html>